@import url(https://fonts.googleapis.com/css?family=Roboto:300);

body{
    background-color: #f0f0f0;
}

.topnav{
    padding: 5px;
    overflow: hidden;
    background-color: #2c2c2c;
}

#pict{
    float: left;
}

#nav{
    float: left;
    font-family: "Roboto", sans-serif;
    display: inline;
    letter-spacing: 2px;
    word-spacing: 2px;
    color: white;
    padding: 15px 10px;
    text-decoration: none;
}

#logs{
    float: right;
    font-family: 'Courier New', Courier, monospace;
    display: inline;
    letter-spacing: 2px;
    word-spacing: 2px;
    color: white;
    padding: 15px 10px;
    text-decoration: none;
}

.topnav a:hover{
    background-color: #6d5897;
    color: black;
}

.head{
    float: inline-start;
    font-family: Arial, Helvetica, sans-serif;
    border-style: none none solid;
    border-color: #1d7bb1;
}

.aHead{
    padding-left: 10px;
    padding-right: 315px;
    font-family: "Roboto", sans-serif;
}

.article{
    padding-left: 10px;
    padding-right: 320px;
    font-family: "Roboto", serif;
}

.img{
    padding-left: 160px;
}

.content2{
    float: right;
    border: 1px;
    padding: 10px;
    width: 90px;
    height: 20px;
    color: black;
    text-align: center;
    background: #1d7bb1;
    text-decoration: none;
    border-radius: 5%;
    cursor: pointer;
    transition: width 1s, height 1s;
    -webkit-transition: width 1s, height 1s;
}

.content2:hover{
    width: 95px;
    height: 25px;
}

.jam_digital{
    overflow: hidden;
    width: 180px;
    margin: 20px auto;
    border: 5px solid #DBD0BD;
    background-color:#6d5897;
}

.kotak{
    float: left;
    width: 60px;
    height: 60px;
}

.jam_digital p{
    color: black;
    font-size: 21px;
    text-align: center;
    margin-top: 18px;
}